.App {
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/watercolor-stains-abstract-background_23-2149107181.jpg?w=2000");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
}

.homeworks {
    padding: 10px;
}
