html, body {
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    background: url("./../h5-rrd-v6/pages/404.png") center no-repeat #333039;
    overflow: scroll;
}

/*Кастомизация скролла, скролл ЕСТЬ, но он НЕВИДИМ !!!*/
body::-webkit-scrollbar {
    width: 0;
}

.content {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 0;
}

.content a {
    display: inline-block;
    text-decoration: none
}

.content a, .content a:hover {
    color: rgba(255, 255, 255, 0.3);
}

.content a:hover {
    color: rgba(255, 255, 255, 0.5);
    /*color: rgb(255, 0, 23);*/
}

@media only screen and (max-width: 460px), screen and (max-height: 700px) {
    .content {
        position: static;
    }

    .content a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
        opacity: 0;
    }

    body {
        background-size: cover
    }
}

/*=========================== Мои стили =====================================*/

.linkBlockWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 15px auto 20px;
}

.navLinkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: #A4E800;
}

a:hover {
    color: #008000;
}

.navLinkWrapper a:active {
    /*color: red;*/
    color: rgba(255, 0, 255, 1);
}

.active {
    color: #008000;
    text-shadow: 0 0 15px rgba(255, 0, 255, 1);
}

.inactive {
    color: #A4E800;
}

.button {
    width: 100px;
    height: 30px;
    border: 2px solid #A4E800;
    border-radius: 10px;
    background-color: #243803;
    color: #A4E800;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:hover {
    color: #243803;
    background-color: #A4E800;
    border: 2px solid #243803;
    font-weight: 500;
}

.junior {
    height: 100vh;
}

.juniorPlus {
    height: 100vh;
}

.homeworks {
    text-align: center;
}
