.wrapperInput {
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.inputInputClass {
    width: 250px;
    height: 35px;
    outline: none;
    border: 2px solid #A4E800;
    border-radius: 10px;
    margin: 0 20px 0 100px;
    padding: 5px 20px;
    font-size: 25px;
    color: #A4E800;
    background-color: #f6fef2;
}

.errorInputClass {
    width: 250px;
    height: 35px;
    outline: none;
    border: 2px solid red;
    border-radius: 10px;
    margin: 0 20px 0 100px;
    padding: 5px 20px;
    font-size: 25px;
    color: red;
    background-color: #f9eded;
}

.button {
    width: 40px;
    height: 25px;
    border: 1px solid #A4E800;
    border-radius: 5px;
    cursor: pointer;
    /*color: #aaaaaa;*/
}

.button:hover {
    background-color: #A4E800;
    color: white;
    border-color: #aaaaaa;
    height: 40px;
    border-radius: 50%;
}

.errorButton {
    width: 40px;
    height: 25px;
    border: 2px solid red;
    border-radius: 5px;
    /*cursor: pointer;*/
    color: red;
    background-color: #f9eded;
}

/*.errorButton:hover {*/
/*    height: 40px;*/
/*    border-radius: 50%;*/
/*}*/

.totalUsers {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
    color: #A4E800;
    margin-bottom: 3px;
}

.errorTotalUsers {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
    /*margin-left: 20px;*/
    /*font-size: 30px;*/
    color: red;
    margin-bottom: 3px;
}

.wrapperErrorSpanClass {
    margin-top: 10px;
    margin-bottom: 15px;
}

.errorSpanClass {
    color: red;
    margin-left: 170px;
    font-weight: 700;
    font-size: 18px;
}

/*.error {*/
/*    outline: none;*/
/*    border: 1px solid red;*/
/*}*/